doctype html
html(ng-app="gameNight")
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="AppCtrl")
    block content
    // Angular and libraries
    script(src='/angular.js')
    // Angular application parts
    script(src='/javascripts/angular/controllers.js')
    script(src='/javascripts/angular/filters.js')
    script(src='/javascripts/angular/app.js')
    // Custom JS - to remove - just remains as reminder
    //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    //script(src="/javascripts/main.js")
