section#messages(ng-cloak)
    p(data-ng-show="expressFlash && expressFlash.length > 0") {{expressFlash[0]}}
    div(
        data-ng-class="sessionFlash.type"
        data-ng-show="sessionFlash && sessionFlash.message"
    )
        p {{ sessionFlash.message }}