body {
  padding: 50px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.username{
    font-weight: bold;
    padding-right: 5px;
}
.form-control{
    display: inline-block;
    width: auto;
}
.centered {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -35px;
    margin-left: -30px;
}
body.loading header,
body.loading #content,
body.loading #sidebar{
    opacity: 0.7;
}
#loading p{
    font-size: 60px;
    margin: 0;
}
#gathering-users ol ul{
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}
#gathering-add-user h2{
    font-size: 16px;
}
#add-user-button{
    margin-left: 10px;
}
#gathering-users .user{
    font-size: 16px;
}
#gathering-users .user .username{
    opacity: 0.7;
}
#gathering-users .user.bgg-user .username{
    opacity: 1;
}
#gathering-users .user .username i{
    padding-left: 7px;
}
#gathering-users .user .actions button{
    font-size: 10px;
}
#gathering-users .user .actions i{
    font-size: 11px;
}
#sidebar section > *{
    padding-left: 15px;
}
#sidebar section h3{
    font-size: 18px;
    padding-left: 0;
}
#gathering-legend ul{
    list-style: none;
}
#gathering-legend ul li i:after{
    content: "-";
    padding: 0 5px;
}
#filters label{
    display: block;
}
#available-games td.name{
    cursor: pointer;
}
#available-games td.name h4{
    /*display: inline-block;*/
    margin: 0;
}
#available-games ul.details{
    list-style: none;
    margin-top: 10px;
    padding: 0;
}
#available-games ul.details label:after{
    content: ":";
    padding: 0 3px 0 0;
}
#available-games .popover .details li img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
span.label{
    color: #333;
    font-size: 100%;
}
#available-games span.label{
    padding-left: 0;
}
.userTooltip{
    text-align: left;
}
.userTooltip h4{
    font-size: 14px;
}
.userTooltip label:after{
    content: ":";
    padding: 0 3px 0 0;
}
.user .username{
    font-size: 18px;
}
.user .actions{
    padding-left: 5px;
}
#add-user-button i{
    padding-left: 3px;
}

/* From: http://stackoverflow.com/a/13276214/1291935
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}